on init
    chown system system /sys/kernel/thunderquake_engine/level

service vendor.vibrator-mediatek /vendor/bin/hw/android.hardware.vibrator-service.mediatek
    class hal
    user system
    group system
